TPM_SERVER_TIMEZONE={{ teampasswordmanager_server_timezone | default("Etc/UTC") }}
TPM_PHP_TIMEZONE={{ teampasswordmanager_server_timezone | default("Etc/UTC") }}

TPM_ENCRYPT_DB_CONFIG={{ teampasswordmanager_encrypt_db_config | default("0") }}
TPM_CONFIG_HOSTNAME={{ teampasswordmanager_db_host }}
TPM_CONFIG_PORT={{ teampasswordmanager_db_port | default("3306") }}
TPM_CONFIG_USERNAME={{ teampasswordmanager_db_user }}
TPM_CONFIG_PASSWORD={{ teampasswordmanager_db_password }}
TPM_CONFIG_DATABASE={{ teampasswordmanager_db_name }}

TPM_UPGRADE={{ teampasswordmanager_upgrade | default ("0") }}
